<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zadania</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<div style="margin: auto; width: 400px">

    <h1>Dodaj zadanie</h1>

    <form action="/dodajZadanie" method="post" th:object="${task}">
        <p>Unikatowy numer zadania: <input type="number" th:field="*{id}"/> </p>
        <p>Opis: <input type="text" th:field="*{opis}"/> </p>
        <p>Imię:<select th:field="*{person}">
            <option th:each="person : ${people}" th:value="${person.name}" th:text="${person.name}"></option>
        </select>
        </p>
        <p>Punkty: <input type="text" th:field="*{punkty}"/> </p>
        <p>Termin wykonania: <input type="datetime-local" th:field="*{date}"/> </p>
        <p><input type="submit" value="Dodaj!" /> <br>
    </form>

</div>

</body>
</html>