<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hometasker</title>
</head>
<body>

<h1>Dodaj zadanie</h1>

<form action="/dodaj" method="post" th:object="${newTask}">
    <p>Unikatowy numer zadania: <input type="text" th:field="*{id}"/> </p>
    <p>Opis: <input type="text" th:field="*{opis}"/> </p>
    <p>Imię: <form>
    <select>
        <option th:each="person: ${allPeople}" th:text="${person.imie}"> </option>
    </select>
</form> </p>
    <p>Punkty: <input type="text" th:field="*{punkty}"/> </p>
    <p>Termin wykonania: <input type="datetime-local" th:field="*{date}"/> </p>
    <p><input type="submit" value="Dodaj!" /> <br>
</form>

</body>
</html>