<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mieszkania</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<div style="margin: auto; width: 400px">

    <form action="/edytujOsobe" method="post" th:object="${person}">
        <p><input type="hidden" th:field="*{id}" placeholder="ID" /></p>
        <p>Imię: <input type="text" th:field="*{name}"/></p>
        <input type="submit" value="Edytuj" />
    </form>

</div>

</body>
</html>