<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <title>Hometasker</title>
</head>
<body>

<h1>Domownicy</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Imię</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person: ${people}">
        <td th:text="${person.id}"></td>
        <td>
            <a th:href="'/person?id=' + ${person.id}" th:text="${person.name}"></a>
        </td>
        <td>
            <a th:href="'/edytujOsobe?id=' + ${person.id}">Edycja</a>
            <a th:href="'/usunOsobe?id=' + ${person.id}">Usuń</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/dodajosobe" target="_blank">Dodaj osobę</a></br>

</body>
</html>